@model RFH.Models.HostSiteTag

<h2>Manage Metadata &mdash; Create</h2>

<div class="formContainer">

    @using (Html.BeginForm()) {
    
        @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="Create" class="standardButton" />
        </p>
    }

</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
