@model RFH.Models.HostSiteTag

<h2>@Html.Raw(@PageData["SectionTitle"]) Delete</h2>

<div class="formContainer">

    <h3>Are you sure you want to delete this Tag?</h3>

    <div class="display-label">@Html.LabelFor(model => model.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    @using (Html.BeginForm()) {
        <p>
            <input type="submit" value="Delete" class="standardButton" />
        </p>
    }

</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>