@model RFH.Models.ManageHostSiteTagDetailViewModel

<h2>Manage Metadata &mdash; Details</h2>

<div class="formContainer">

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HostSiteTag.Name)
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.HostSiteTag.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>

<h3>Values</h3>

<p>@Html.ActionLink("Add New Value", "Create", "ManageHostSiteTagValue", new { id = Model.HostSiteTag.Id }, null)</p>

<table class="standardTable">
    <thead>
        <tr>
            <th>Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HostSiteTagValues)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "ManageHostSiteTagValue", new { id=item.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "ManageHostSiteTagValue", new { id=item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

