@model RFH.Models.ContentData
		   
@{
	ViewBag.Title = "Index";
}

<style type="text/css">
	#MainWindow
	{
		padding: 15 15 15 15;
		/* background:url(smiley.gif) top left no-repeat, */
		background: url("/Content/images/placeholder.png") 
	}
		
@*	
	#WelcomeContent
	{
		float: left;
		width: 48%;
		/* height: 200px; */
		background: #369;
		color: #FFF;
		line-height: 200px;
		vertical-align: middle;
		text-align: center;
		/* border: 1px solid #036; */
	}
		
	#ImageContent
	{
		float: left;
		width: 48%;
		/*height: 200px;*/
		background: #369;
		color: #FFF;
		line-height: 200px;
		vertical-align: middle;
		text-align: center;
		/* border: 1px solid #036; */
	}
		
	#MainWindowBottom
	{
		width: 96%;
		/* height: 200px;*/
		background: #369;
		color: #FFF;
		line-height: 200px;
		vertical-align: middle;
		text-align: center;
		border: 1px solid #036;
	}
	*@
</style>

<div id="MainWindow">
	@Html.Raw( @Model.Content )

	@*	
	<div id="MainWindowTop">
		<div id="WelcomeContent">
			@Html.Raw( @Model.Content )
		</div>

		<div id="ImageContent">
			<img src="@Url.Content("~/Content/images/placeholder.png")" width="100%"
					alt="IMAGE WILL GO HERE." />
		</div>
	</div>

	<div style="clear:both"></div>

	<div id="MainWindowBottom">
		<div id="WizardContent">
			This is where the Wizard might go.
		</div>
	</div>
	*@
</div>
