@model RFH.Models.ManageArticleEditViewModel
           
<div class="editor-label">
    @Html.LabelFor(model => model.Article.HostSiteId)
</div>
<div class="editor-field">
    @Html.DropDownListFor(m => m.Article.HostSiteId, Model.HostSiteItems)
    @Html.ValidationMessageFor(model => model.Article.HostSiteId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Article.CategoryId)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.Article.CategoryId, Model.CategoryItems)
    @Html.ValidationMessageFor(model => model.Article.CategoryId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Article.IsPublished)
</div>
<div class="editor-field">
    @Html.CheckBoxFor(model => model.Article.IsPublished, new { Class = "checkbox" })
    @Html.ValidationMessageFor(model => model.Article.IsPublished)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Article.ShortDescription)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Article.ShortDescription)
    @Html.ValidationMessageFor(model => model.Article.ShortDescription)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Article.Content)
</div>
<div class="editor-field">
    @*@Html.CKEditor("Content", Model.Article.Content)*@
    @Html.EditorFor(m => m.Article.Content)
    @Html.ValidationMessageFor(model => model.Article.Content)
</div>