@model RFH.Models.Article

<h2>@Html.Raw(@PageData["SectionTitle"]) Create</h2>

<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>

<div class="formContainer">

    @using (Html.BeginForm()) {

        @Html.ValidationSummary(true)

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.CKEditor("Content", Model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShortDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShortDescription)
            @Html.ValidationMessageFor(model => model.ShortDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HostSiteId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.HostSiteId, (IEnumerable<SelectListItem>)ViewBag.HostSites)
            @Html.ValidationMessageFor(model => model.HostSiteId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Categories)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsPublished)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.IsPublished, new { Class = "checkbox" })
            @Html.ValidationMessageFor(model => model.IsPublished)
        </div>
        
        <p>
            <input type="submit" value="Create" class="standardButton" />
        </p>
    }

</div>