@model RFH.Models.ManageArticleDetailViewModel

<h2>@Html.Raw(@PageData["SectionTitle"]) Details</h2>

<p>
    @Html.ActionLink("Edit", "Edit", new { Model.Article.Id }) |
    @Html.ActionLink("Delete", "Delete", new { Model.Article.Id }) |
    @Html.ActionLink("Back to HostSite", "Detail", "ManageHost", new {Model.HostSite.Id}, null)
</p>

<div class="formContainer">

    @Html.Partial("_Display", Model.Article)

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { Model.Article.Id }) |
    @Html.ActionLink("Delete", "Delete", new { Model.Article.Id }) |
    @Html.ActionLink("Back to HostSite", "Detail", "ManageHost", new {Model.HostSite.Id}, null)
</p>
