@model RFH.Models.Article

 

<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>

  
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Article</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.HostSite.Name)
        </div>
        <div class="editor-field">
            @Model.HostSite.Name
        </div>

    
        @Html.HiddenFor(model => model.Id)
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.CKEditor("Content", Model.Content);
            @Html.ValidationMessageFor(model => model.Content)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.ShortDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ShortDescription)
            @Html.ValidationMessageFor(model => model.ShortDescription)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.HostSiteId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(m => m.HostSiteId, (IEnumerable<SelectListItem>)ViewBag.HostSites)
            @Html.ValidationMessageFor(model => model.HostSiteId)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.Categories)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.IsPublished)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsPublished)
            @Html.ValidationMessageFor(model => model.IsPublished)
        </div>
    
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
    
<div>
    @Html.ActionLink("Back to HostSite", "Detail", "ManageHost", new {id=Model.HostSiteId}, null)
</div>

