@model RFH.Models.ManageHostEditViewModel

@Html.EditorFor(model => model.HostSite.Name)
@Html.EditorFor(model => model.HostSite.LogoFileName)
@Html.EditorFor(model => model.HostSite.HeroFileName)
@Html.EditorFor(model => model.HostSite.Area)
@Html.EditorFor(model => model.HostSite.HostSiteUrl)
@Html.EditorFor(model => model.HostSite.IsActive)
@Html.EditorFor(model => model.HostSite.CommentsEnabled)
@Html.EditorFor(model => model.HostSite.Description)
@Html.EditorFor(model => model.HostSite.Address)
@Html.EditorFor(model => model.HostSite.City)
@Html.EditorFor(model => model.HostSite.State)
@Html.EditorFor(model => model.HostSite.Zip)
@Html.EditorFor(model => model.HostSite.Latitude)
@Html.EditorFor(model => model.HostSite.Longitude)
<div class="editor-label">
    @Html.LabelFor(model => model.HostSite.County.Name)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.HostSite.CountyId, Model.Counties)
    @Html.ValidationMessageFor(model => model.HostSite.Name)
</div>

<button id="geocodeBtn" type="button" class="standardButton">Geocode Address</button>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
    var geocoder;
    
    function initialize() {
        geocoder = new google.maps.Geocoder();
    }

    $(function() {
        initialize();
        $('#geocodeBtn').click(function () {
            var street = $('#Address').val();
            var city = $('#City').val();
            var state = $('#State').val();
            var zip = $('#Zip').val();

            var request = { address: street + ' ' + city + ', ' + state + ' ' + zip };
            geocoder.geocode(request, function(result, status) {
                if (status != google.maps.GeocoderStatus.OK) {
                    alert('Unable to geocode address');
                    return;
                }
                
                $('#Latitude').val(result[0].geometry.location.lb);
                $('#Longitude').val(result[0].geometry.location.mb);
            })
        });
    })
</script>