@model RFH.Models.HostSite

<table class="twoColumnTable">
    <tr>
        <td>@Html.LabelFor(m => m.Name)</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.LogoFileName)</td>
        <td>@Model.LogoFileName</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.HeroFileName)</td>
        <td>@Model.HeroFileName</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Area)</td>
        <td>@Model.Area</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.HostSiteUrl)</td>
        <td>@Model.HostSiteUrl</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Address)</td>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.City)</td>
        <td>@Model.City</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.State)</td>
        <td>@Model.State</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Zip)</td>
        <td>@Model.Zip</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Latitude)</td>
        <td>@Model.Latitude</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Longitude)</td>
        <td>@Model.Longitude</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.IsActive)</td>
        <td>@Model.IsActive</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.CommentsEnabled)</td>
        <td>@Model.CommentsEnabled</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(m => m.Description)</td>
        <td class="htmlField">@Html.Raw(Model.Description)</td>
    </tr>
</table>