@model RFH.Models.AdminIndexViewModel
@{
    Layout = null;
    
    
    
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>

    <script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>


</head>
<body>
    <div>
        <h1>Admin</h1>

        <p>@Html.ActionLink("Manage HostSites", "Index", "ManageHost")</p>
        <p>@Html.ActionLink("Manage Categories", "Index", "ManageCategory")</p>
        <p>@Html.ActionLink("Edit ContentData", "Index", "ManageContent")</p>


        @using (Html.BeginForm()) {

          
            
            @Html.CKEditor("Editor1")  
            

            <input type="submit" />
            
        }
            
    </div>
</body>
</html>
