@model RFH.Models.ContentData		   
@{
	ViewBag.Title = "Produce Recovery Guide";
}
@section Head {    
      @Html.Partial("_ImageSliderHead")
}
<div class="row-fluid mainContent">
  <div class="span1">
  </div>
  <div class="span2">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Sites</li>
        @Html.Action("ListSite", "NavigationList")
        <li class="nav-header">Categories</li>
        @Html.Action("ListCategory", "NavigationList")
      </ul>
    </div><!--/.well -->
  </div><!--/span-->

  <div class="span8">
    <div class="span3 alignC">
        <h1>Welcome</h1>
        <img src="/Content/images/newHeader.png" class="mainLogo" alt="mainLogo"/>
    </div>
    <div class="span8">
        @Html.Partial("_ImageSlider")
    </div>
    <div class="row-fluid">
      <div class="span4">
        <h2>Point 1</h2>
        <p>We do great work, and here's an explanation</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
      <div class="span4">
        <h2>Point 2</h2>
        <p>We do great work, and here's an explanation</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
      <div class="span4">
        <h2>Point 3</h2>
        <p>We do great work, and here's an explanation</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
    </div><!--/row-->
    <div class="row-fluid">
      <div class="span4">
        <h2>Host Sites Map</h2>
          @*<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>*@
          <img src="/Content/images/map.jpg"/>
      </div><!--/span-->
      <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
      <div class="span4">
        <!--Statistics view for the right section display starts here-->
        @Html.Action("Statistics")
        <!--Statistics view for the right section display starts here-->
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
      </div><!--/span-->
    </div><!--/row-->
  </div><!--/span-->
</div><!--/row-->

@*@Html.Raw( @Model.Content )*@

@*@Html.Action("Wizard")*@