@model RFH.Models.Category

<h2>@Html.Raw(@PageData["SectionTitle"]) Details</h2>

<div class="formContainer">

    <div class="display-label">@Html.LabelFor(m => m.Name)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    
    <div class="display-label">@Html.LabelFor(m => m.Description)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
