@model IEnumerable<RFH.Models.Category>

<h2>Manage Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="standardTable">
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td></td>
        </tr>
    </thead>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Detail", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
    
</table>

<p>@Html.ActionLink("Back to List", "Index", "Admin")</p>
