<div id="slidyBanner" class="slidyContainer" title="Your tooltip text">
    <div class="slidySlides">
        <figure class="slidyCurrent">
            <img  src="@Url.Content("~/content/images/banner/banner1_apples.jpg")" />
        </figure>        
        <figure class="slidy">
            <img  src="@Url.Content("~/content/images/banner/banner2_picking.jpg")" />
        </figure>    
        <figure class="slidy">
            <img  src="@Url.Content("~/content/images/banner/banner3_picking.jpg")" />
        </figure>    
        <figure class="slidy">
            <img  src="@Url.Content("~/content/images/banner/banner4_boxofapples.jpg")" />
        </figure>    
        <figure class="slidy">
            <img  src="@Url.Content("~/content/images/banner/banner5_field.jpg")" />
        </figure>    
        <figure class="slidy">
            <img  src="@Url.Content("~/content/images/banner/banner6_stringbeans.jpg")" />
        </figure>    
        <figure class="slidy">
            <img  src="@Url.Content("~/content/images/banner/banner7_blueberries.jpg")" />
        </figure>    
        <figure class="slidy">
            <img  src="@Url.Content("~/content/images/banner/banner8_blueberrygreenhouse.jpg")" />
        </figure>
    </div>
</div>
