@{
    Layout = null;
}
@model RFH.Models.HostSite
    <div style="padding-right: 10px;" class="hostSiteSkyscraper">
        <div class="titlePane">
            <h3>@Model.Name</h3>
            @if (!string.IsNullOrWhiteSpace(Model.LogoFileName))
            {
                if (!string.IsNullOrWhiteSpace(Model.HostSiteUrl))
                {
                     <a href="@Model.HostSiteUrl" target="_blank">
                        <img src="/Content/cmsImages/@Model.LogoFileName" class="hostSiteLogo" alt="@Model.LogoFileName" />
                     </a>
                }
                else
                {
                    <img src="/Content/cmsImages/@Model.LogoFileName" class="hostSiteLogo" alt="@Model.LogoFileName" />
                }
            }
            
            @if (!string.IsNullOrWhiteSpace(Model.HostSiteUrl))
            {
                <p>Website:<br /><a href="@Model.HostSiteUrl" target="_blank">@Model.HostSiteUrl</a></p>
            }

        </div>
        <div>
            @Html.Raw(Model.Description)
        </div>
    </div>