@model RFH.Models.Category

<div class="display-label">@Html.LabelFor(model => model.SuperCategory.Name)</div>
<div class="display-field">
    @Html.DisplayFor(model => model.SuperCategory.Name)
</div>

<div class="display-label">@Html.LabelFor(m => m.Name)</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Name)
</div>
<div class="display-label">@Html.LabelFor(m => m.HeroFileName)</div>
<div class="display-field">
    @Html.DisplayFor(model => model.HeroFileName)
</div>    
<div class="display-label">@Html.LabelFor(m => m.Description)</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Description)
</div>

