@model RFH.Models.SiteDetailsViewModel
@{
    ViewBag.Title = Model.HostSite.Name;
}

<div class="row-fluid mainContent">
  <div class="span1"></div>
  <div class="span8">
    <div class="hero-unit sitehero">
      <h2>@Model.HostSite.Name</h2>
      <p><img src="/Content/cmsImages/@Model.HostSite.HeroFileName" /></p>  
<!--      @if (!string.IsNullOrWhiteSpace(Model.HostSite.Area))
      {
        <p>@Model.HostSite.Area</p> 
      }
                    
      @if (!string.IsNullOrWhiteSpace(Model.HostSite.HostSiteUrl))
      {
        <p>Website: <a href="@Model.HostSite.HostSiteUrl" target="_blank">@Model.HostSite.HostSiteUrl</a></p>
      }
      @Html.Raw(Model.HostSite.Description)-->
  </div>
    @{
      var articleList = Model.HostSite.Articles.ToList();
      var articleCount = articleList.Count;
      var masterCounter = 0;
    }
    @for (int i = 0; i <= articleCount/3; i++)
    {
      <div class="row-fluid">
        @for (int j = 0; j < 3; j++) {
          if (masterCounter == articleCount)
          {
            break;
          }
          var article = articleList[masterCounter];
          <div class="span4">
            <h2>@Html.ActionLink(article.Title + " - " + article.Category.Name, "Index", "Article", new { id = article.Id }, null)</h2>
            <p>@article.ShortDescription</p>
            <p>@Html.ActionLink("View Details >>", "Index", "Article", new { id = article.Id }, new { @class = "btn" })</p>
          </div>
          masterCounter++;
        }
      </div>
    }
  </div>

  <div class="span2">
      <div class="row-fluid">
          <p> @{Html.RenderAction("HostSiteSidebar", "HostSiteSidebar", new { id = Model.HostSite.UrlFriendlyName });}</p>
    </div>
    @*<div class="row-fluid">
      <ul class="tags">
        <h3>Host Site Facts</h3>
        @foreach (var tag in Model.HostSiteTags) {
            <li>@tag.Name</li>
            <ul class="tagValues">
                @foreach (var tagValue in Model.HostSiteTagValues.Where(m => m.HostSiteTagId.Equals(tag.Id)))
                {
                    <li>@tagValue.Name</li>
                }
            </ul>
        }
      </ul>
    </div>
      *@
  </div>
</div>


