@model RFH.Models.CategoryIndexViewModel

@{
    ViewBag.Title = Model.Category.Name;
}

<div class="row-fluid mainContent">
  <div class="span1"></div>
  <div class="span10">
    <div class="hero-unit">
      <h1>@Model.Category.Name</h1>
      <p>@Model.Category.Description</p>
      <div class="heroSpacer"></div>

        <p><img class="siteImage" src="/Content/cmsImages/@Model.Category.HeroFileName" alt="@Model.Category.Name" /></p>
    </div>
    @{
      var articleList = Model.Articles.ToList();
      var articleCount = articleList.Count;
      var masterCounter = 0;
    }
    @for (int i = 0; i <= articleCount/3; i++)
    {
      <div class="row-fluid">
        @for (int j = 0; j < 3; j++) {
          if (masterCounter == articleCount)
          {
            break;
          }
          var article = articleList[masterCounter];
          <div class="span4">
            <h4>@Html.ActionLink(article.Title, "Index", "Article", new { id = article.Id }, null)</h4>
            
            @if (!article.ImageFilename.IsEmpty())
            {
              <img src="/Content/cmsImages/@article.ImageFilename" class="articleImage" alt="@article.ImageFilename" />
            } 
            <p>@article.ShortDescription</p>
            <p>@Html.ActionLink("View Details >>", "Index", "Article", new { id = article.Id }, new { @class = "btn" })</p>
          </div>
          masterCounter++;
        }
      </div>
    }
  </div><!--/span-->

</div><!--/row-->

    