@model RFH.Models.CategoryIndexViewModel

@{
    ViewBag.Title = Model.Category.Name;
}

<h2>@Model.Category.Name</h2>

<p>@Model.Category.Description</p>

<div class="matchingArticles">
    <ul>
    @foreach (var item in Model.Articles)
    {
        <li>
            <h2>@Html.ActionLink(item.Title, "Index", "Article", new { id = item.Id }, null)</h2>
            <p>@item.ShortDescription</p>
        </li>
    }
    </ul>
</div>

<script type="text/javascript">
    $(function () {
        $('#categoryNav li[data-id="@Model.Category.Id"]').addClass('current');
    });
</script>