@model RFH.Models.CategoryIndexViewModel

@{
    ViewBag.Title = Model.Category.Name;
}

<h2>@Model.Category.Name</h2>

<p>@Model.Category.Description</p>

<div class="matchingArticles">
    <dl>
    @foreach (var item in Model.Articles)
    {
        <dt>@Html.ActionLink(item.HostSite.Name, "Details", "Site", new { id = item.HostSite.UrlFriendlyName }, null)</dt>
        <dd>@item.ShortDescription &raquo; @Html.ActionLink("read this article", "Index", "Article", new { id = item.Id }, null)</dd>
    }
    </dl>
</div>

<script type="text/javascript">
    $(function () {
        $('#categoryNav li[data-id="@Model.Category.Id"]').addClass('current');
    });
</script>