@model RFH.Models.HostSite

<div class="titlePane">
<h2>@Model.Name</h2>
<h3>In @Model.Area</h3>
<h4>@Model.Name website</h4>
</div>
<div class="sidePane">
    @foreach (var md in Model.MetaData) {
        @Html.Label(md.Type)
        foreach (var mdValues in md.Values) { 
            @Html.Label(mdValues.Value)    
        }
    }
</div>
<div>
    @Model.Description
</div>
<div>Articles
    @Html.Action("ListArticleInSite", "Article", new { id=Model.Id})
</div>
