@model RFH.Models.HostSite
@{
    ViewBag.Title = Model.Name;
}
<table>
    <tr>
        <td width="60%" valign="top">
            <div style="padding-right: 20px;">
                <div class="titlePane">
                    
                    <h2>@Model.Name</h2>
                    
                    @if (!string.IsNullOrWhiteSpace(Model.Area)) { 
                        <p>@Model.Area</p> 
                    }
                    
                    @if (!string.IsNullOrWhiteSpace(Model.HostSiteUrl)) {
                        <p>Website: <a href="@Model.HostSiteUrl" target="_blank">@Model.HostSiteUrl</a></p>
                    }
                    
                </div>
                <div>
                    @Html.Raw(Model.Description)
                </div>
                <div>
                    <h3>Articles</h3>
                    <dl>
                        @foreach (var item in Model.Articles)
                        {
                            <dt>@Html.ActionLink(item.Category.Name, "Index", "Article", new { id = item.Id }, null)</dt>
                            <dd>@item.ShortDescription</dd>
                        }
                    </dl>
                </div>
            </div>
        </td>
        <td width="40%" valign="top">
            <div style="border: 1px solid #DDD;">
                <ul>
                    @foreach (var md in Model.MetaData)
                    {
                        <li>
                            <h4>@Html.Label(md.Type)</h4>
                            <ul>
                                @foreach (var mdValues in md.Values)
                                { 
                                    <li>@Html.Label(mdValues.Value)</li> 
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(function () {
        $('#hostSiteNav li[data-id="@Model.Id"]').addClass('current');
    });
</script>