@model RFH.Models.CategoryIndexViewModel

@{
    ViewBag.Title = Model.Category.Name;
}

<h2>@Model.Category.Name</h2>

<p>@Model.Category.Description</p>

<div class="matchingArticles">
    @foreach (var item in Model.Articles)
    {
        <p>
            <strong>@Html.ActionLink(item.HostSite.Name, "Details", "Site", new { id = item.HostSite.UrlFriendlyName }, null)</strong><br />
            @item.ShortDescription @Html.ActionLink("read this article", "Index", "Article", new { id = item.Id }, null)
        </p>
    }
</div>