@using RFH.Models
@model ManageHostDetailViewModel

<h2>@Html.Raw(@PageData["SectionTitle"]) Details</h2>

<table id="hostSiteDetailTable">
<tr>
    <td width="75%" class="hostSiteInfo">
    
        <h3>Info</h3>

        <table class="twoColumnTable">
            <tr>
                <td>@Html.LabelFor(m => m.HostSite.Name)</td>
                <td>@Model.HostSite.Name</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.HostSite.Area)</td>
                <td>@Model.HostSite.Area</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.HostSite.HostSiteUrl)</td>
                <td>@Model.HostSite.HostSiteUrl</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.HostSite.IsActive)</td>
                <td>@Model.HostSite.IsActive</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.HostSite.Description)</td>
                <td class="htmlField">@Html.Raw(Model.HostSite.Description)</td>
            </tr>
        </table>

        <p id="manageHostDetailTopActions">
            @Html.ActionLink("Edit", "Edit", new { Model.HostSite.Id }) |
            @Html.ActionLink("Delete", "Delete", new { Model.HostSite.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>

    </td>
    <td rowspan="2" width="25%" class="metaDataInfo">
    
        <h3>Tags</h3>

        @foreach (var item in Model.HostSiteTags)
        {
            <div class="hostSiteTags">

                <h4>@item.Name</h4>
                
                @foreach (var tagValue in Model.HostSiteTagValues.Where(i => i.HostSiteTagId == item.Id))
                {
                    if(Model.HostSiteToHostSiteTagValues
                        .Any(i => (i.HostSiteId == Model.HostSite.Id)
                                    && (i.HostSiteTagValueId == tagValue.Id)))
                    {
                        <div>
                            <input type="checkbox" checked data-valueid="@tagValue.Id" /> 
                            <label>@tagValue.Name</label>
                        </div>
                    }
                    else
                    {
                        <div>
                            <input type="checkbox" data-valueid="@tagValue.Id" /> 
                            <label>@tagValue.Name</label>
                        </div>
                    }
                }

            </div>
        }


        <script type="text/javascript">

            $(function () {
                $('.hostSiteTags input').click(function () {

                    var hostSiteId = @Model.HostSite.Id;
                    var isChecked = $(this).is(':checked');
                    var hostSiteTagValueId = $(this).attr('data-valueid');

                    var dataValue = 'hostSiteId=' + hostSiteId + '&hostSiteTagValueId=' + hostSiteTagValueId + '&isChecked=' + isChecked;

                    $.post('/ManageHost/EditTag', dataValue);
                });
            });
        
        </script>

    </td>
</tr>
<tr>
    <td class="articleInfo">
        
        <h3>Articles</h3>

        <p>@Html.ActionLink("Add New Article", "Create", "ManageArticle")</p>

        <table  class="standardTable">
            <thead>
                <tr>
                    <th>Category Title</th>
                    <th>Is Published</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Articles)
                {
                    <tr>
                        <td>@item.Category.Name</td>
                        <td>@item.IsPublished</td>
                        <td>
                            @Html.ActionLink("Details", "Detail", "ManageArticle", new { @item.Id }, null) |
                            @Html.ActionLink("Edit", "Edit", "ManageArticle", new { @item.Id }, null) |
                            @Html.ActionLink("Delete", "Delete", "ManageArticle", new { @item.Id }, null)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </td>
</tr>
</table>

