@model RFH.Models.ManageArticleEditViewModel
           
<div class="editor-label">
    @Html.LabelFor(model => model.Article.HostSiteId)
</div>
<div class="editor-field">
    @Html.DropDownListFor(m => m.Article.HostSiteId, Model.HostSiteItems)
    @Html.ValidationMessageFor(model => model.Article.HostSiteId)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Article.CategoryId)
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.Article.CategoryId, Model.CategoryItems)
    @Html.ValidationMessageFor(model => model.Article.CategoryId)
</div>

@Html.EditorFor(model => model.Article.IsPublished)
@Html.EditorFor(model => model.Article.Title)
@Html.EditorFor(model => model.Article.ImageFilename)
@Html.EditorFor(model => model.Article.ShortDescription)
@Html.EditorFor(m => m.Article.Content)