@model RFH.Models.ManageCommentDetailViewModel

<h2>@Html.Raw(@PageData["SectionTitle"]) Details</h2>

<p>
	@Html.ActionLink("Delete", "Delete", new { id = Model.Comment.CommentId }) |
	@Html.ActionLink("Back to List", "Index") |
</p>

<div class="formContainer">

    <div class="display-label">
	    @Html.LabelFor(model => model.Comment.Name)
    </div>
    <div class="display-field">
	    @Html.DisplayFor(model => model.Comment.Name)
    </div>

    <div class="display-label">
	    @Html.LabelFor(model => model.Comment.Email)
    </div>
    <div class="display-field">
	    @Html.DisplayFor(model => model.Comment.Email)
    </div>

    <div class="display-label">
        <p>Click here to navigate to the article where it was commented: <a href="/article/@Model.Comment.ArticleId" target="_blank">@Model.Comment.ArticleId</a></p>
    </div>

    <div class="display-label">
	    @Html.LabelFor(model => model.Comment.Location)
    </div>
    <div class="display-field">
	    @Html.DisplayFor(model => model.Comment.Location)
    </div>
    <div class="display-label">
	    @Html.LabelFor(model => model.Comment.PostDate) (in UTC)
    </div>
    <div class="display-field">
	    @Html.DisplayFor(model => model.Comment.PostDate)
    </div>

    <div class="display-label">
	    @Html.LabelFor(model => model.Comment.Text)
    </div>
    <div class="display-field htmlField">
	    @Html.Raw(Model.Comment.Text)
    </div>

</div>

<p>
	@Html.ActionLink("Delete", "Delete", new { id = Model.Comment.CommentId }) |
	@Html.ActionLink("Back to List", "Index") |
</p>
