@model RFH.Models.CreateCommentViewModel
@using SquishIt.Framework
@using SquishIt.Mvc
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>

@using (Html.BeginForm("CreateComment", "Comment", FormMethod.Post)) {
    @Html.ValidationSummary(true)
        <legend>Add a Comment</legend>
        <div class="editor-field">
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "span5" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>


        <div class="editor-field">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "span5" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

 
        <div class="editor-field">
            <div>
                <label>@Html.LabelFor(model => model.Text)</label>
            </div>
            @Html.TextAreaFor(model => model.Text, new { @class = "span5" })
            @Html.ValidationMessageFor(model => model.Text)
        </div>


        <div class="editor-field">
            @Html.LabelFor(model => model.Location)
            @Html.TextBoxFor(model => model.Location, new { @class = "span5" })
            @Html.ValidationMessageFor(model => model.Location)
        </div>

            @Html.HiddenFor(model => model.ArticleId)


        <div class="submitComment">
            <input type="submit" class="btn btn-primary" value="Comment" />
        </div>
}


