@model RFH.Models.ArticleIndexViewModel

@{
    ViewBag.Title = string.Format(
        "{0} - {1}", 
        Model.Article.Category.Name, 
        Model.Article.HostSite.Name);
 }

<div id="articleIndexView">

    <div class="breadCrumb">
        @Html.ActionLink(Model.Article.HostSite.Name, "Details", "Site", new {Id=Model.Article.HostSite.UrlFriendlyName}, null)
        &gt;   
        @Html.ActionLink(Model.Article.Category.Name, "Index", "Category", new {Id=Model.Article.Category.UrlFriendlyName}, null)
    </div>

    <div id="hostSiteMetadata">
        <h3>@Model.Article.HostSite.Name</h3>
        <div>
            <ul class="tags">
            @foreach (var tag in Model.HostSiteTags) {
                <li>@tag.Name:</li>
                <ul class="tagValues">
                    @foreach (var tagValue in Model.HostSiteTagValues.Where(m => m.HostSiteTagId.Equals(tag.Id)))
                    {
                        <li>@tagValue.Name</li>
                    }
                </ul>
            }
            </ul>
        </div>
    </div>

    <div>
        @Html.Raw( Model.Article.Content )
    </div>

    <div class="goUp">
        @Html.ActionLink(String.Format("Back to {0}", Model.Article.HostSite.Name), "Details", "Site", new {Id=Model.Article.HostSite.UrlFriendlyName}, null)
    </div>
    
    @Html.Partial("_CreateComment", Model.NewComment)
    
    @if(Model.Comments.Any())
    {
        @Html.Partial("_CommentList", Model.Comments)
    }

    @if (Model.RelatedArticles.Any()) {
        <div>
            <h1>Related Articles</h1>
            <ul>
                @foreach (var relatedArticle in Model.RelatedArticles) {
                    <li>
                        @Html.ActionLink(String.Format("{0} article by {1}", Model.Article.Category.Name, relatedArticle.HostSiteName), "Index", "Article", new {id = relatedArticle.ArticleId}, null)
                    </li>
                }   
            </ul>
        </div>
    }
    <!--partial view for the right section display starts here-->
     @Html.Partial("SiteDisplay")
    <!--partial view for the right section display starts here-->
    
</div>