@model RFH.Models.ArticleIndexViewModel
    <div style="padding-right: 20px;">
        <div class="titlePane">
            @if (!string.IsNullOrWhiteSpace(Model.Article.HostSite.Area))
            { 
                <p>@Model.Article.HostSite.Area</p> 
            }

            @if (!string.IsNullOrWhiteSpace(Model.Article.HostSite.HostSiteUrl))
            {
                <p>Website: <a href="@Model.Article.HostSite.HostSiteUrl" target="_blank">@Model.Article.HostSite.HostSiteUrl</a></p>
            }

        </div>
        <div>
            @Html.Raw(Model.Article.HostSite.Description)
        </div>
        <div>
            <h3>Articles</h3>
            <dl>
                @foreach (var item in Model.Article.HostSite.Articles)
                {
                    <dt>@Html.ActionLink(item.Category.Name, "Index", "Article", new { id = item.Id }, null)</dt>
                    <dd>@item.ShortDescription</dd>
                }
            </dl>
        </div>
    </div>