@model RFH.Models.Statistics

<div class="display-label">@Html.LabelFor(model => model.Description)</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Description)
</div>

<div class="display-label">@Html.LabelFor(model => model.Value)</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Value)
</div>

<div class="display-label">@Html.LabelFor(model => model.Units)</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Units)
</div>

<div class="display-label">@Html.LabelFor(model => model.SortOrder)</div>
<div class="display-field">
    @Html.DisplayFor(model => model.SortOrder)
</div>

