@model RFH.Models.ManageStatisticsViewModel

<h2>@Html.Raw(@PageData["SectionTitle"]) Details</h2>

<div class="formContainer">

    @Html.Partial("_Display", Model.Statistics)

    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.Statistics.StatisticId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>
