@model IEnumerable<RFH.Models.Statistics>

<h2>@Html.Raw(@PageData["SectionTitle"]) List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="standardTable">
    <thead>
        <tr>
            <th>Description</th>
            <th>Value</th>
            <th>Units</th>
            <th>Sort Order</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Units)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SortOrder)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.StatisticId }) |
                    @Html.ActionLink("Edit", "Edit", new { id=item.StatisticId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.StatisticId })
                </td>
            </tr>
        }
    </tbody>
</table>
