@model RFH.Models.HostSiteTagValue

<h2>Manage Metadata Values</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>HostSiteTagValue</legend>

        @Html.HiddenFor(model => model.HostSiteTagId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Details", "ManageHostSiteTag", new { id = Model.HostSiteTagId}, null)
</div>
